

body {
  background-color: #324a69;
      font-size: 18px;
      padding: 50px;

    }

a   {color:blue;}

header   {
  Color: white;
  background-color: #0f5570;
  text-align: center;
  width: 80%;
  margin: 0 auto;

}
main {
  background-color:#419ab5 ;
  Color: #0c0d0d;
  width: 80%;
  margin: 0 auto;


}

/* .columns { */
  /* width: 750px; */
  /* display:flex; */
/* } */
